
body {
    background: linear-gradient(135deg, #0b5789, #3aa6dc);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
    
.select-Op {
    font-size: 18px;
    color: #524ebf;
    margin-bottom: 20px;
}

.dashboard-container {
    background-color: white;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    width: 400px;
    text-align: center;
}

.dashboard-container h1 {
    margin-bottom: 30px;
    color: #2c3e50;
}

.dashboard-container a {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
}

.dashboard-container button {
    display: block;        /* Asegura que el botón sea de bloque*/ 
    background-color: #3498db;
    color: white;
    padding: 12px;
    width: 100%;           /* Ocupa todo el ancho del contenedor*/ 
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;        /* Centrado */
    transition: background-color 0.3s ease;
}

/*
.dashboard-container button {
    display: block;        /* Asegura que el botón sea de bloque 
    width: 100%;           /* Ocupa todo el ancho del contenedor 
    margin: 0 auto;        /* Centrado 
} */


.dashboard-container button:hover {
    background-color: #43c3f6;
}



