<!-- layout.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Wazuh App</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('dashboard') }}">Inicio</a>

        {% if session.token %}
            <!-- Enlaces solo visibles después de iniciar sesión -->
            <a href="{{ url_for('vulnerabilities') }}">Vulnerabilidades</a>
            <a href="{{ url_for('search_keyword') }}">Buscar por clave</a>
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        {% endif %}
    </nav>

    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
