<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Top 10 Agentes con Vulnerabilidades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleAgents.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <h1>Top 10 Agentes con Más Vulnerabilidades</h1>
        <table>
            <thead>
                <tr>
                    <th>Agent ID</th>
                    <th>Nombre</th>
                    <th>Vulnerabilidades</th>
                </tr>
            </thead>
            <tbody>
                {% for agent in agents %}
                    <tr>
                        <td>{{ agent.id }}</td>
                        <td>{{ agent.name }}</td>
                        <td>{{ agent.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{{ url_for('dashboard') }}"><button>Volver</button></a>
    </div>
</body>
</html>

